<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\ETZ.Api.dll"
                  hostingModel="inprocess"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <add name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <add name="ConnectionStrings__ETZ" value="Host=localhost;Port=5432;Database=ETZ;Username=postgres;Password=a.A12345;Pooling=true;Trust Server Certificate=true;" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <system.web/>
  <system.codedom/>
</configuration>


